* {
  box-sizing: border-box;
}
@font-face {
  font-family: "ITC Handel Gothic Arabic Bold";
  src: url(asset/Fonts/font.ttf);
}
:root {
  --white-color: #ffffff;
  --main-color: #39ac3f;
  --primary-color: #2b98d4;
  --secound-color: #264176;
  --danger-color: #e7332a;
  --dark-color: #4e4e4d;
  --light-color: #f1f1f1;
  --secondary-color: #929292;
  --black:#000
  --main-raduis: 10px;
  --main-font-size: 14px;
  --main-font-icon: 24px;
}

a {
  color: inherit !important;
}
body{
  font-family: "ITC Handel Gothic Arabic Bold";
  overflow-x: hidden;
}

/*Navbar*/
.nav {
  color: var(--secound-color) !important;
}
.icons i {
  color: var(--secound-color);
}
.icons i:hover {
  color: var(--main-color) !important;
  cursor: pointer;
}
.navbar-nav {
  font-weight: bold;
}
.nav-item {
  color: var(--secound-color) !important;
}
.nav-item:hover {
  color: var(--main-color) !important;
}
.active {
  color: var(--main-color) !important;
}
/*Navbar*/

/*OURSPECIALTIES*/
.OURSPECIALTIES{
  background-color: #F1F1F1;
}
.w{
  color: var(--main-color);
}
.S_card{
  transition: box-shadow 0.5s ease;
}
.S_card:hover h4{
  color: var(--main-color);
}
.S_card:hover p{
 color:var(--secound-color)
}
.S_card:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adjust shadow properties as needed */
}
/*OURSPECIALTIES*/






































/*footer*/
.footer{

  p{
    color:var(--secound-color)
  }
  ul{
    list-style: none;
  }
  .q{
    background-color: var(--main-color) !important;
    color: white;
  }
}
/*footer*/
#scrollToTopBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 9999;
    padding-bottom: 15px;
    transition: opacity 0.3s ease-in-out;
  }
  #scrollToTopBtn.fade-in {
    opacity: 1;
  }
  
  #scrollToTopBtn.fade-out {
    opacity: 0;
  }
  
  